<template>
    <div>
        <h1>CommentInput</h1>
        <form name="Comment">
            <label for="CommentInput">Enter comment:</label>
            <textarea name="CommentInput" v-model="comment.commentContent">
            </textarea>
        </form>
        <div v-show="newAdded">The comment was saved <a href="/postalserviceslist">Go to comment list?</a></div>
        <button @click="submit">Submit</button>
    </div>
</template>

<script src="./commentinput.ts"></script>
