<template>
    <div>
        <h1>CommentList</h1>
        <ul>
            <li v-for="comment in comments">{{ comment.commentContent}}</li>
        </ul>
    </div>
</template>

<script src="./commentlist.ts"></script>
