<template>
    <div>
        <h1>PostalServicesList</h1>
        <ul>
            <li v-for="service in postalservices">
                <a v-bind:href="'commentinput/' + service.id">{{ service.id }}: {{ service.publicName.fi }} / {{ service.address.fi.address }}</a>
                <ul>
                    <li v-for="comment in service.comments">{{comment.commentContent}}</li>
                </ul>
             </li>
        </ul>
    </div>
</template>

<script src="./postalserviceslist.ts"></script>
