<template>
    <div>
        <h1>SmartPostRate</h1>
        <p>This is a site providing info and reviews for all the Posti provided SmartPost parcel points in Espoo. You can view a listing of the SmartPost services, review the individual parcel points and see the reviews added by other site users.</p>
    </div>


</template>